{% extends 'base.html' %}
{% set school = universities %}
{% set rmitLat = school[0].lat %}
{% set rmitLng = school[0].lng %}

{% set melbLat = school[1].lat %}
{% set melbLng = school[1].lng %}

{% set vicLat = school[2].lat %}
{% set vicLng = school[2].lng %}


{% block head %}
  <center>
    <h1 id="website_title"> Course Delivery </h1>
  </center>
{% endblock %}
{% block body %}

<div class="recent-tweets-en">
  <h2>Most Recent Twitter Posts <h2>
  <p>------------------</p>
{#  {% for item in twitter_list %}#}
{#      <p> {{ item.payloadString | safe | replace("[", "") | replace("]", "")}} <p>#}
{#      <p>------------------------------------ </p>#}
{#  {% endfor %}#}
</div>


<div class="recent-tweets-translated">
  <h2>Translated Twitter Posts</h2>
  <p>---------------------------- </p>
  <label name="languages"> Choose a language:</label>
  <button name="spanish" onclick="display_spanish_text()">Spanish</button>
  <div>
{#    {% for item in translated %}#}
{#      <p id="spanish_text"> {{ item | replace("[", "") |#}
{#       replace("]", "") |#}
{#        replace("{", "") |#}
{#         replace("}", "") |#}
{#          replace("payloadString", "") |#}
{#           replace(':', "") |#}
{#            replace('"', '') | safe }} </p>#}
{#    {% endfor %}#}
  </div>
</div>

<div class="reviews">
  <center>
    <h2>University Reviews</h2>
    {%  for review in review_list %}
      <nav>
         <ul> {{ review.name }} </ul>
         <ul> {{ review.review }} </ul>
    {% endfor %}
      </nav>
    <button type="button" href='/review'><a href="/review" >How can we improve?</a></button>
  </center>
</div>


<div class="Content">
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Select University</button>
  <div id="myDropdown" class="dropdown-content">
    <button class="topbtn"  data-button='rmit'> {{ school[0].name }}</button>
    <button class="topbtn"  data-button='melbourne'> {{ school[1].name }}</button>
    <button class="topbtn"  data-button='victoria'> {{ school[2].name }}</button>
  </div>

</div>
</form>

<script type="text/javascript">

    // Creates the google map
    function initMap() {
////////////////////////////////////////////////////////////////////////////////////////
        // RMIT Google Map Display
        var myRMITLatLng = {lat: {{rmitLat}}, lng: {{ rmitLng }}};
        var RMITmap =  new google.maps.Map(document.getElementById('rmitMap'), {
            center: myRMITLatLng,
            zoom: 16
          });
          // Displays a red marker on the coordinates
          var RMITmarker = new google.maps.Marker({
          position: myRMITLatLng,
          map: RMITmap,
        });

////////////////////////////////////////////////////////////////////////////////////////
        // Victoria University Google Map Display
        var myVicLatLng = {lat: {{vicLat}}, lng: {{ vicLng }}};
        var vicMap =  new google.maps.Map(document.getElementById('vicMap'), {
            center: myVicLatLng,
            zoom: 16
          });
         var vicmarker = new google.maps.Marker({
          position: myVicLatLng,
          map: vicMap,
        });

////////////////////////////////////////////////////////////////////////////////////////
       // Melbourne University Google Map Display
       var myMelbLatLng = {lat: {{melbLat}}, lng: {{ melbLng }}};
       var melbMap =  new google.maps.Map(document.getElementById('melbMap'), {
            center: myMelbLatLng,
            zoom: 16
          });
          // Displays a red marker on the coordinates
          var melbMarker = new google.maps.Marker({
          position: myMelbLatLng,
          map: melbMap,
        });

////////////////////////////////////////////////////////////////////////////////////////
    // Restaurant Markers around the universities
    {% for location in rows %}

    // Grab all coordinates
    var point = {lat: {{ location.latitude }}, lng: {{ location.longitude }}};

    // Restaurant markers around RMIT
    var marker = new google.maps.Marker({
    position: point,
    map: RMITmap,
    icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
    });

    // Restaurant markers around Melbounre University
    var marker = new google.maps.Marker({
    position: point,
    map: melbMap,
    icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
    });

    // Restaurant markers around Victoria University
    var marker3 = new google.maps.Marker({
    position: point,
    map: vicMap,
    icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
    });

  {% endfor %}

}

</script>
    
<div id="contactus" data-type='victoria'>
  <br>
  <center>
    <h2> Victoria University </h2>
    <div id="vicMap" style="width:60%; height:500px;"></div>
  <center>
</div> 


<div id="contactus" data-type='melbourne'>
  <br>
  <center>
    <h2> Melbourne University </h2>
    <div id="melbMap" style="width:60%; height:500px;"></div>
  <center>
</div> 


<div id="contactus" data-type='rmit'>
  <br>
  <center>
    <h2> Royal Melbourne Institute of Technology </h2>
    <div id="rmitMap" style="width:60%; height:500px;"></div>
  <center>
</div>



 {% endblock %}

